.events-wrapper {
  padding: 0 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 16px;
    font-weight: 600;
    color: #1e1e1e;
  }

  .see-all {
    color: #4ba3ff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
}


.event-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 12px 16px;
  margin-bottom: 12px;

  display: block;

  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.04);
}

.inline-block {
    display: flex;
    justify-content: space-between;
}

.badge {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 6px 14px;
  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.date {
    margin-top: 4px;
}

/* COLORS  */
.unregistered {
  background: #fff6e5;
}
.unregistered .dot {
  background: #f4a300;
}

.registered {
  background: #e8faf4;
}
.registered .dot {
  background: #0b8f5b;
}

.canceled {
  background: #ffeaea;
}
.canceled .dot {
  background: #d43c3c;
}

.menu-icon {
  font-size: 20px;
  color: #7b8a9a;
}
