.top-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;

  ion-toolbar {
    --background: #fff;
    --border-color: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  }

  ion-icon {
    font-size: 22px;
  }

  ion-avatar {
    width: 32px;
    height: 32px;
  }
}